@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  max-width: 1440px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

@utility padding-container {
  @apply px-6 lg:px-20 2xl:px-0;
}

.scroll-wrapper {
  overflow: hidden;
  width: 100%;
  /* background: #f5f5f5; */
  padding: 20px 0;
}

.scroll-track {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
  animation: scroll 12s linear infinite;
}

.logo-item {
  height: 60px;
  opacity: 0.85;
  transition: opacity 0.3s;
}

.logo-item:hover {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.faq-item {
  border-bottom: 0.5px solid #979797c0;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  margin: auto;
  margin-bottom: 10px;
} 